<!DOCTYPE html>
<html>
      <head>
           <title>Task3-backend</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
           <h2>{{>header}}</h2>
           
           <h2> hbs {{title}} page content</h2>
           <h2>{{desc}}</h2>
           <br><br><br>
           <br><br><br>
           <br><br><br>
          <h4>{{>footer}}</h4>
      </body>
</html>